html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #f0f0f0; /* Set the background color for the entire page */
  display: flex;
  flex-direction: column; /* Ensure the content is stacked vertically */
}

#root {
  width: 100%;
  flex-grow: 1;
  margin: 0 auto;
  padding: 0;
  top: 64px;
  text-align: left;
  display: flex;
  flex-direction: column; /* Ensure the content is stacked vertically */
  background-color: #f0f0f0; /* Ensure the background color is applied */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.MuiDrawer-paper {
  width: 188px;
  top: 64px; /* Adjust for the height of the AppBar */
  background-color: #f0f0f0;
}

.content {
  flex-grow: 1;
  padding: 2rem; /* Add padding to ensure content does not stick to the edges */
  margin-left: 0;
  transition: margin-left 0.3s;
  text-align: left; /* Align content to the left */
  max-width: 1200px; /* Limit the width of the content */
  margin-top: 64px; /* Ensure content is below the AppBar */
  background-color: #f0f0f0; /* Ensure the background color is applied */
}

.contentShift {
  flex-grow: 1;
  padding: 2rem; /* Add padding to ensure content does not stick to the edges */
  margin-left: 188px; /* Match the width of the Drawer */
  transition: margin-left 0.3s;
  text-align: left; /* Align content to the left */
  max-width: 1200px; /* Limit the width of the content */
  margin-top: 64px; /* Ensure content is below the AppBar */
  background-color: #f0f0f0; /* Ensure the background color is applied */
}

.MuiAppBar-root {
  z-index: 1400;
  background-color: #f0f0f0;
  color: black;
}

.MuiToolbar-root {
  justify-content: space-between;
}

/* Styles for the layout in the home page */
.parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
}

.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.div1, .div2, .div3, .div4 {
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s, border-color 0.3s;
}

.div1:hover, .div2:hover, .div3:hover, .div4:hover {
  background-color: #e0e0e0;
  border-color: #aaa;
}
